/* PRIMARY COLOR: #00cccc */

/* SECONDARY COLOR: #006699 */

body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: comforta;
  src: url('../fonts/comfortaa.ttf');
}

* {
  font-family: comforta;
}

@font-face {
  font-family: arialr;
  src: url('../fonts/arialr.ttf');
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/montserrat.otf');
}

p {
  line-height: 1.75;
}

a, .color1 {
  color: #00cccc;
}

a:hover, .color2 {
  color: #006699;
}

.text-primary {
  color: #00cccc !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.enfasis {
  color: #00cccc;
  font-weight: bold;
}

.enfasis::selection {
  color: white;
}

.carousel-caption {
  font-family: comfortaa;
}

section {
  padding: 75px 0;
}

section h2.section-heading {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 50px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-lead-in {
  color: white;
}

header.masthead .intro-text:hover .intro-heading {
  color: #00cccc;
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #00cccc;
  border-color: #00cccc;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #006699 !important;
  border-color: #006699 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
  background: #00cccc;
  text-shadow: none;
}

::selection {
  background: #00cccc;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav, #mainNav2 {
  background-color: rgba(33, 37, 41, 0.90);
}

#mainNav .navbar-toggler, #mainNav2 .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #00cccc;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand, #mainNav2 .navbar-brand {
  color: #00cccc;
  font-family: 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #006699;
}

#mainNav .navbar-nav .nav-item .nav-link, #mainNav2 .navbar-nav .nav-item .nav-link {
  font-size: 80%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav2 .navbar-nav .nav-item .nav-link.active, #mainNav2 .navbar-nav .nav-item .nav-link:hover {
  color: #00cccc;
}

#myModal>div {
  max-width: 60%;
}

#locationsMobile {
  display: none;
}

/* --------- CONTACTO ----------- */

section#contact {
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input, section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #00cccc;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.locations-modal h3 {
  color: #00cccc;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 0.8em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(33, 37, 41, 0.90);
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
  section h2.section-heading {
    font-size: 40px;
  }
  header.masthead {
    text-align: center;
    color: white;
    background-image: url("../img/bg-main3-xs.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    animation-delay: 1s;
    animation-duration: 2.5s;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: arialr;
    text-shadow: 5px 5px 5px black;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 100px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: arialr;
    text-shadow: 5px 5px 5px black;
  }
}

@media (min-width: 768px) {
  header.masthead {
    background-image: url("../img/bg-main3.jpg");
  }
  header.masthead .intro-text {
    color: white;
    padding-top: 250px;
    /* padding-bottom: 200px; */
    text-align: right;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: arialr;
  }
  header.masthead .intro-text .intro-heading {
    padding-right: 30px;
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    font-family: arialr;
    text-shadow: 5px 5px 5px black;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.service-heading span {
  font-size: 2rem;
}

#locations .locations-item {
  right: 0;
  margin: 0 0 15px;
  opacity: 0.8;
}

#locations .locations-item:hover {
  transform: scale(1.3);
}

/*
#locations .locations-item .locations-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#locations .locations-item .locations-link .locations-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(0, 204, 204, 0.6);
}

#locations .locations-item .locations-link .locationsComing-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(230, 78, 29, 0.6);
}

#locations .locations-item .locations-link .locations-hover:hover, #locations .locations-item .locations-link .locationsComing-hover:hover {
  opacity: 1;
}

#locations .locations-item .locations-link .locations-hover .locations-hover-content, #locations .locations-item .locations-link .locationsComing-hover .locations-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#locations .locations-item .locations-link .locations-hover .locations-hover-content i {
  margin-top: -12px;
}

#locations .locations-item .locations-link .locations-hover .locations-hover-content h3, #locations .locations-item .locations-link .locations-hover .locations-hover-content h4 {
  margin: 0;
}

#locations .locations-item .locations-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#locations .locations-item .locations-caption h4 {
  margin: 0;
  text-transform: none;
}

#locations .locations-item .locations-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
} */

#locations * {
  z-index: 2;
}

.locations-modal {
  padding-right: 0px !important;
}

.locations-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.locations-modal .modal-content {
  padding: 100px 0;
  text-align: center;
  background-image: url('../img/fondoModal.jpg');
  background-size: cover;
}

@media (min-width: 767px) {
  #locations .locations-item {
    margin: 0 0 30px;
  }
  .locations-modal .modal-content {
    padding: 60px 0;
    text-align: center;
  }
}

.locations-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.locations-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.locations-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.locations-modal .modal-content img {
  margin-bottom: 30px;
}

.locations-modal .modal-content button {
  cursor: pointer;
}

.locations-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 0;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.locations-modal .close-modal:hover {
  opacity: 0.3;
}

.locations-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.locations-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}

button.close {
  position: absolute;
  right: 0;
  padding: 10px;
}

button.close:hover {
  color: red;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline>li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline>li:after, .timeline>li:before {
  display: table;
  content: ' ';
}

.timeline>li:after {
  clear: both;
}

.timeline>li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline>li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #00cccc;
}

.timeline>li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body>ul, .timeline .timeline-body>p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline>li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline>li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline>li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline>li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
  .locations-modal {
    margin: 20px 20px 0;
  }
}

@media (min-width: 992px) {
  .timeline>li {
    min-height: 150px;
  }
  .timeline>li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline>li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline>li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  header.masthead {
    background-attachment: fixed, scroll !important;
    height: 700px;
  }
  header.masthead .intro-text {
    padding-top: 300px;
  }
  .timeline>li {
    min-height: 170px;
  }
  .timeline>li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline>li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline>li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

footer {
  background-color: #212529;
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  color: white;
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  color: white;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks a {
  color: white;
}

footer ul.quicklinks a:hover {
  color: #00cccc;
  text-decoration: none;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:hover {
  background-color: #00cccc;
}

#spots a:hover i {
  color: white;
}

.socialLinks {
  padding-left: 10px;
  display: inline-flex;
}

@media (max-width: 1200px) {
  .socialLinks {
    position: inherit;
    margin-left: 10px;
  }
  .socialLinks a i {
    margin-right: 10px;
  }
  .navbar-brand {
    text-align: left !important;
  }
}

/* HOVER EFFECTS - locations Modal*/

.hovereffect {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 70%;
  left: 10%;
  top: 10%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h3 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 25px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h3 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* HOVER EFFECTS - locations */

.hovereffect2 {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect2 .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 70%;
  left: 10%;
  top: 10%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

.hovereffect2:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect2 img {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect2:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
  opacity: 0;
}

.freeTourCity {
  padding: 40px;
}

#recruitmentForm .form-control {
  background-color: #f1f1f1;
}

/* -------------------- PÁGINAS INDIVIDUALES -------------------------- */

.header2 .row {
  background-color: transparent;
  padding: 10px;
  align-items: center;
}

.header2 h1 {
  font-family: arialr;
  font-size: 60px;
  color: white;
  margin-bottom: 0;
}

.videoHeader {
  max-width: 100%;
  margin: 0 auto;
}

.videoHeader div {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.general_info h4 {
  color: #00cccc;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(0, 204, 204, 0.73);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

.portfolio-box:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.googleMap {
  width: 100%;
}

.down {
  position: absolute;
  top: 550px;
  right: 50%;
}

@media (max-width: 1024px) {
  .down {
    display: none;
  }
  .header2 h1 {
    font-size: 50px;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 100px;
  }
  #myModal>div {
    max-width: 90%;
  }
  #locations .locations-item {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  header.masthead {
    text-align: center;
    color: white;
    background-image: url("../img/bg-main3-xs.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  header.masthead .intro-text {
    padding-top: 150px;
    animation-delay: 1s;
    animation-duration: 2.5s;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: arialr;
    text-shadow: 5px 5px 5px black;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 130px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: arialr;
    text-shadow: 5px 5px 5px black;
  }
  section {
    padding: 60px 20px;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 32px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 30px;
  }
  .header2 h1 {
    font-size: 20px;
  }
  .header2 img {
    max-width: 150px;
  }
  .hovereffect .overlay {
    height: 60%;
  }
  .hovereffect .overlay p {
    margin: 0;
  }
  .hovereffect .overlay .fa {
    font-size: 2em;
  }
  .hovereffect .overlay button {
    padding: 0.3rem 1rem;
    font-size: 1rem;
  }
  #myModal>div {
    max-width: 100%;
  }
  #freeToursModal h2 {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  section {
    padding: 100px 0;
  }
}

#carouselExampleControls p {
  font-size: 30px;
}

#typed {
  animation-delay: 3s;
}

/* ======= Testimonials ======= */

.testimonials {
  /* padding-top: 60px; */
  /* padding-bottom: 120px; */
}

.testimonials .carousel-indicators {
  bottom: -60px;
  z-index: auto;
}

.testimonials .carousel-indicators li {
  background: #ccc;
  border: none;
  margin: 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}

.testimonials .carousel-indicators li.active {
  background: #00cccc;
  border: none;
  width: 10px;
  height: 10px;
  margin: 1px;
  border-radius: 50%;
  margin-left: 10px;
}

.testimonials .carousel-item blockquote {
  font-size: 20px;
  font-weight: 300;
  border-left: 0;
  padding: 0;
  position: relative;
}

.testimonials .carousel-item blockquote .fa {
  color: #00cccc;
  font-size: 22px;
}

.testimonials .carousel-item .source {
  color: #00cccc;
}

.testimonials .carousel-item .source .title {
  font-size: 16px;
  color: #666;
}

#tours .tourName span {
  cursor: pointer;
}

/* #tours .tourName span:hover {
  transform: scale(1.1);
} */

.tours {
  padding: 0;
  margin-bottom: 50px;
}

.tours li {
  list-style: none;
  align-items: center;
}

.tours li:hover a {
  text-decoration: none;
}

.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: none;
}

.scrollup .fa {
  color: #00cccc;
}

/* GALERÍA */

.galeria img {
  box-shadow: 5px 5px 20px black;
}

.galeria img:hover {
  transform: scale(1.1);
}

/* RECRUITMENT */

#recruitment {
  color: white;
  background-image: url("../img/recruitment.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#recruitment a:hover {
  text-decoration: none;
}

#recruitment a:hover span {
  color: #003366;
}

#mailRecruitment {
  font-weight: bold;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  #mailRecruitment {
    font-size: 1em;
  }
  .freeTourCity {
    padding: 10px;
  }
}

.spots {
  background-image: url('../img/fondoModal.jpg');
  background-size: cover;
}

.spots img {
  border: 3px solid #00cccc;
}

.spots i {
  color: #00cccc;
}

.tours {
  justify-content: center;
  align-items: center;
}

.tours div {
  margin: 0 0 10px 0;
}

.tours div img:hover {
  transform: scale(1.2);
}

.vdivide:after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

@media (max-width: 768px) {
  .vdivide:after {
    display: none;
  }
  .spots {
    padding-top: 50px;
  }
}

.general_info {
  padding: 75px 0;
}

#carouselCity {
  width: 100%;
}

.carouselCity img {
  width: 100%;
}

.help-block {
  text-align: left;
}

/* BE CREATIVE */

#becreative img {
  margin-bottom: 20px;
}

.creativenes div {
  cursor: pointer;
}

.creativenes div:hover img {
  transform: scale(1.1);
  opacity: 0.7;
}

/* EFECTOS WOW */

#services .paso2 {
  animation-delay: 1s;
}

#services .paso3 {
  animation-delay: 2s;
}

#services .paso4 {
  animation-delay: 3s;
}

/* #services .arrow1 {
  animation-delay: 1s;
}

#services .paso2 {
  animation-delay: 1.5s;
}

#services .paso2_2 {
  animation-delay: 2s;
}

#services .arrow2 {
  animation-delay: 3s;
}

#services .paso3 {
  animation-delay: 4s;
}

#services .paso4 {
  animation-delay: 3s;
} */


#services .pasoText {
  display: none;
}

#services .paso:hover .pasoText {
  display: block;
}

@media (max-width: 768px) {
  #services .paso1, #services .paso2, #services .paso3, #services .paso4 {
    animation-delay: 0s;
    margin-bottom: 20px;
  }
  #services .pasoText {
    display: block;
  }
  /* #services .arrow {
    display: none;
  }
  #services .paso2, #services .paso2_2 {
    animation-delay: 1s;
  }
  #services .paso3 {
    animation-delay: 2s;
  } */

}

/* #services .arrow {
 position: absolute;
 top: 50%;
 right: 0;
 font-size: 2rem;
 color: #00cccc;
}

#services .paso1 img, #services .paso2 img, #services .paso3 img {
  padding: 0 1rem;
} */

@media (min-width: 1200px) {
  #mainNav {
    background-color: transparent;
  }
  header.masthead {
    margin-top: 0;
  }
  .slide_city {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .slide_city {
    padding-top: 85px;
  }
  .socialLinks {
    padding-left: 0px;
  }
}

/* CIUDADES SKYLINES */

.ciudades {
  padding-bottom: 30px;
}

.ciudades img {
  max-width: 10%;
}

.ciudades a {
  cursor: pointer;
}

@media (max-width: 767px) {
  .ciudades {
    padding-bottom: 30px;
  }
  .ciudades img {
    max-width: 20%;
  }
}

/* ------------------ DOUBLE NAVBAR ---------------------- */

.fixed-top2 {
  display: none;
  z-index: 1000;
}

.recommendedTours {
  left: auto;
  top: 5;
  background: rgba(33, 37, 41, 0.90);
  color: white;
  z-index: 1200;
}

.recommendedTours a {
  left: auto;
  top: auto;
}

@media (min-width: 1200px) {
  .fixed-top2 {
    margin-top: 81px;
    display: block;
  }
  #mainNav2 {
    line-height: 0;
    background: transparent;
  }
  #mainNav2 div, #mainNav div {
    justify-content: flex-end;
  }
  #mainNav2 .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    font-weight: 400;
    padding: 0.75em 0;
    margin-left: 50px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

/* ------------------------ PHOTOGRAPHERS ---------------------------------- */

#photographers {
  padding: 0 100px 0;
}

.team-member img {
  width: 200px;
  height: 200px;
}

@media (max-width: 767px) {
  #photographers {
    padding: 0 20px 0;
  }
  #photographers>div {
    margin-bottom: 50px;
  }
  .scrollup {
    bottom: 35px;
  }
}

/*---------------------------- SECOND NAVBAR ----------------------------------*/

@media (max-width: 1199px) {
  #locationsMobile {
    display: block;
  }
  #locationsMobile .dropdown-menu {
    background: inherit;
    border: none;
  }
  #locationsMobile .dropdown-item {
    color: white;
    margin: 10px 0;
    font-family: "Montserrat", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 80%;
  }
}


/*----------------------- CONTEST ----------------------*/

#contest {
  background-image: url('../img/contest/bg.png');
  background-size: cover;
}

@media (max-width: 1200px) {
  #contest {
    background-image: url('../img/contest/bg-movil.png');
    background-size: cover;
  }
}

@media (max-width: 767px) {
  #contest {
    background-image: url('../img/contest/bg-movil-2.png');
    background-size: cover;
  }
}
